input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  outline: none;
  border: 1px solid white;
  border-radius: 4px;
  background: rgb(232, 238, 233);
  transition: background 0.3s linear, border 0.3s linear;

  &:checked {
    background: rgb(66, 63, 63) url('/src/assets/images/check.svg');
    border: 1px solid rgb(66, 63, 63);
  }

  &:focus {
    border: 1px solid rgb(66, 63, 63);
  }

  &:checked:focus {
    border: 1px solid white;
  }
}